<div>
    <header class="topbar-container">
        <ul class="topbar-list clearfix">
            <li ng-repeat="item in navDict"  ui-sref="{{item.child[0].url}}" ng-click="toptabClick(item)">{{item.name}}</li>
          
        </ul>
    </header>

    <nav class="navbar navbar-default" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav sidebar-sticky">
                <li ng-repeat="item in sideList" ui-sref-active="active"  ui-sref="{{item.url}}" class="nav-item">{{item.name}}</li>
            </ul>
        </div>
    </nav>
    <div class="content-wrap" ui-view>
    xxxx
    </div>
</div>