<h3>我的文件</h2>
    <div class="mind-box">
        <div class="mind-operate">
            <button type="button" class="btn btn-primary">新建脑图</button>
            <button class="btn">新建文件夹</button>
            <button class="btn">批量操作</button>
        </div>
        <div class="mind-table">
            <table class="table  table-hover">
                <thead class="table table-hover table-files">
                    <tr>
                        <th><input type="checkbox" name="" id=""></th>
                        <th>文件名</th>
                        <th>修改时间</th>
                        <th>选项</th>
                    </tr>
                </thead>
                <tbody class="table table-striped">
                <tr>
                    <td class="col-md-1"><input type="checkbox" name="" id=""></td>
                    <td class="col-md-6">xxxx.md</td>
                    <td>xxxxxx</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td class="col-md-6">xxxx.md</td>
                    <td>xxxxxx</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td class="col-md-6">xxxx.md</td>
                    <td>xxxxxx</td>
                    <td>...</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <style>
        .mind-table{
            margin-top:10px;
        }
        .mind-operate .btn {
            margin-left: 5px;
        }
        .mind-table{
            background:#fff;
        }
    </style>